---
layout: default
title: Chasseur de dev.io
styles: [/webjars/bootstrap/3.1.1/css/bootstrap.css, style.less]
ng-app: devoxx
---

<div ng-controller="BasketController as basket" ng-cloak>
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Chasseur de d€v.io</a>
    </div>
    <div class="navbar-right">
      <div id="basket" ng-if="basket.basket.sum > 0">
        <ul>
          <li>
            Front
            <span class="front box"
                  ng-class="'box-' + i"
                  ng-show="i <= basket.basket.front"
                  ng-repeat="i in [1,2,3,4,5]"></span>
          </li>
          <li>
            Back
            <span class="back box"
                  ng-class="'box-' + i"
                  ng-show="i <= basket.basket.back"
                  ng-repeat="i in [1,2,3,4,5]"></span>
          </li>
          <li>
            Database
            <span class="database box"
                  ng-class="'box-' + i"
                  ng-show="i <= basket.basket.database"
                  ng-repeat="i in [1,2,3,4,5]"></span>
          </li>
          <li>
            Test
            <span class="test box"
                  ng-class="'box-' + i"
                  ng-show="i <= basket.basket.test"
                  ng-repeat="i in [1,2,3,4,5]"></span>
          </li>
          <li>
            Hipster
            <span class="hipster box"
                  ng-class="'box-' + i"
                  ng-show="i <= basket.basket.hipster"
                  ng-repeat="i in [1,2,3,4,5]"></span>
          </li>
          <li>
            <hr/>
          </li>
          <li>
            <strong>Tarif</strong>
            {{basket.basket.sum}}€ / jour
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    [[#each site.data.developers]]
    <div class="row profil">
      <h1>[[prenom]]</h1>

      <h3>Tarif [[price]]€ / jour</h3>

      <p>[[job]] - [[ville]]</p>

      <p>[[description]]</p>

      <div class="tags">
        [[#each tags]]
        <span class="label label-danger">[[.]]</span>
        [[/each]]
      </div>

      <img src="images/[[photo]].png">

      <div class="buttons">
        <a ng-hide="basket.showRemove('[[email]]')" class="btn btn-success" href=""
           ng-click="basket.add('[[email]]')">Chasser !</a>
        <a ng-show="basket.showRemove('[[email]]')" class="btn btn-danger" href=""
           ng-click="basket.remove('[[email]]')">Virer !</a>
      </div>
    </div>
    [[/each]]
  </div>
</div>

<script src="/webjars/angularjs/1.2.16/angular.min.js"></script>
<script src="/webjars/angularjs/1.2.16/angular-animate.min.js"></script>
<script src="app.coffee"></script>